:root {
  --white: #fff;
  --black: #212529;
  --blue-dark: #008cba;
  --blue-medium: #81c0d4;
  --blue-light: #e5e0ff;
  --orange: #f59f31;
  --beige: #f8f8e6;

  --spacer-tiny: 1rem;
  --spacer-small: 2rem;
}

/* Fonts */

@import url(https://fonts.googleapis.com/css?family=Signika:700, 300, 600);

@font-face {
  font-family: "calendas";
  src: url("calendas.woff2?#iefix") format("woff2"),
    url("calendas.woff") format("woff"), url("calendas.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* animations */
@keyframes float {
  0%,
  100% {
    transform: none;
  }
  33% {
    transform: translateY(-1px) rotate(-2deg);
  }
  66% {
    transform: translateY(1px) rotate(2deg);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }
  50% {
    transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}

/* utilities  */
.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
.wrapper {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 640px) {
  .wrapper {
    max-width: 80%;
  }
}

h2 {
  font-family: calendas, georgia, serif;
  color: var(--orange);
}

/* layout  */
body {
  max-width: 95%;
  margin: 0 auto;
  overflow-x: hidden;
}
@media (min-width: 640px) {
  body {
    max-width: 80%;
  }
}

/* header  */
.header {
  padding: var(--spacer-small) 0;
  text-align: center;
  background: var(--white);
}
@media (min-width: 860px) {
  .header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
  }
}
.header-link {
  font-size: 3rem;
  text-decoration: none;
  font-weight: 200;
}
.header-link:hover,
.header-link:focus,
.header-link:active {
  text-decoration: none;
}
.header-logo,
.nav img {
  width: 1em;
  height: 1em;
  fill: var(--blue-dark);
  transform: translateY(-2px);
}
.nav svg {
  width: 1em;
  height: 1em;
  fill: var(--blue-dark);
  vertical-align: middle;
}
.icon-phone {
  transform: translateY(-2px);
}
.nav a {
  font-size: 1.4rem;
  text-decoration: none;
  margin-left: 2rem;
}
@media (max-width: 480px) {
  .nav a {
    display: block;
    margin: var(--spacer-tiny) 0;
    vertical-align: middle;
  }
}

/* hero  */
.hero {
  min-height: 10rem;
  background: var(--blue-dark);
  color: var(--white);
  padding: var(--spacer-small) 0;
  margin-bottom: var(--spacer-small);
  text-align: center;
}

@media (min-width: 640px) {
  .hero {
    min-height: 30rem;
    color: var(--black);
    background: url(assets/images/teddy.png) right 10% center no-repeat,
      linear-gradient(to right top, var(--blue-medium), #fff 70%);
    text-align: left;
  }
}
@media (min-width: 640px) {
  .title {
    font-family: "Signika", sans-serif;
    font-weight: bold;
    user-select: none;
  }
  .title span {
    display: inline-block;
    animation: float 1s ease-in-out infinite;
  }
  .title em {
    font-style: normal;
    font-weight: 300;
    color: var(--blue-dark);
    text-shadow: 1px 1px var(--white);
  }
  .hero:hover span {
    animation: bounce 0.6s;
  }
  .title span:nth-child(4n) {
    color: hsl(50, 75%, 55%);
    text-shadow: 1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%),
      3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%);
  }
  .title span:nth-child(4n-1) {
    color: hsl(135, 35%, 55%);
    text-shadow: 1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%),
      3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%);
  }
  .title span:nth-child(4n-2) {
    color: hsl(155, 35%, 60%);
    text-shadow: 1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%),
      3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%);
  }
  .title span:nth-child(4n-3) {
    color: hsl(30, 65%, 60%);
    text-shadow: 1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%),
      3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%);
  }
  .title span:nth-child(2) {
    animation-delay: 0.05s;
  }
  .title span:nth-child(3) {
    animation-delay: 0.1s;
  }
  .title span:nth-child(4) {
    animation-delay: 0.15s;
  }
  .title span:nth-child(5) {
    animation-delay: 0.2s;
  }
  .title span:nth-child(6) {
    animation-delay: 0.25s;
  }
}
/* grid  */
.grid {
  display: grid;
  gap: var(--spacer-small);
  margin-bottom: var(--spacer-small);
}
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.card {
  padding: var(--spacer-small);
  background: var(--beige);
}
.card-alone {
  margin-bottom: var(--spacer-small);
  text-align: center;
}
.card svg {
  display: block;
  margin: 0 auto var(--spacer-tiny);
  fill: var(--blue-dark);
  text-align: center;
  width: 6em;
  height: 6em;
}
.location-link {
  display: inline-block;
  border: 4px solid var(--orange);
}

.card-list svg {
  width: 1.2em;
  height: 1.2em;
}

/* photo  */
.photo {
  margin-bottom: var(--spacer-small);
  text-align: center;
}

.photo .wrapper > img {
  max-width: 100%;

  object-fit: cover;
  mix-blend-mode: overlay;
  filter: brightness(1) contrast(100%);
  opacity: 0.9;
  vertical-align: top;
}

@media (min-width: 640px) {
  [class*="blend-"] > img {
    width: 100%;
    height: 40rem;
  }
}
@media (min-width: 1024px) {
  [class*="blend-"] > img {
    height: 50rem;
  }
}
@media (min-width: 1400px) {
  [class*="blend-"] > img {
    height: 60rem;
  }
}

[class*="-blue"] {
  background: linear-gradient(to right, #04256b, var(--blue-dark));
}
[class*="-green"] {
  background: linear-gradient(to right, #26b568, #ba644a);
}
[class*="-orange"] {
  background: linear-gradient(to right, #e87c68, #de8335);
}

/* footer  */
.footer {
  background: var(--blue-dark);
  padding: var(--spacer-small) 0;
  color: var(--white);
}
.footer h2 {
  color: var(--white);
}

/* bandeau  */
@media (min-width: 640px) {
  .bandeau {
    height: 280px;
    background: url(assets/images/collage.jpg) center top no-repeat;
  }
}
